<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
            max-width: 400px;
            margin: auto;
        }

        li {
            background-color: #fff;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

        .button-container {
            margin-top: 20px;
        }

        button {
            background-color: #28a745;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 150px;
        }

        button:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
    <h1>Usuários Cadastrados</h1>
    <ul>
        <% usuarios.forEach(usuario => { %>
            <li>Nome: <%= usuario.nome %>, Email: <%= usuario.email %></li>
        <% }); %>
    </ul>

    <div class="button-container">
        <!-- Botão para voltar à página de cadastro -->
        <button onclick="window.location.href='/'">Voltar ao Cadastro</button>
    </div>
</body>
</html>
